---
import Files from '../components/Files.tsx'
import '../styles.css'
---

<html lang="en">
	<head>
		<link rel="stylesheet" href="https://unpkg.com/flowbite@{{< current_version >}}/dist/flowbite.min.css" />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class=" to-slate-400 from-blue-500 via-indigo-700 bg-gradient-to-br ">

		<Files client:load />
	</body>
</html>